extends layout

block content
  form(action='/business/addreview/#{business[0].business_id}', method='post')
    textarea(name="review", cols="40", rows="5")
    br
    input(type="radio", name="rating", value="1")
    | 1
    input(type="radio", name="rating", value="2")
    | 2
    input(type="radio", name="rating", value="3")
    | 3
    input(type="radio", name="rating", value="4")
    | 4
    input(type="radio", name="rating", value="5")
    | 5
    br
    input(type="submit", value="Add Review")
  //h1= Object.keys(wordCounts).length
  style.
    #map_canvas, #route_div, #street_view {
      width: 100%;
      height: 350px;
      overflow: scroll;
    }

    .hidden_word {
      display: none;
    }

  form(action='/business/follow/#{business[0].business_id}', method='post')
    input(type='submit', value='follow')
  each word, index in wordCounts
    h6.hidden_word= word.WORD + ' ' + word.COUNT
  h6.hide#longitude= business[0].longitude
  h6.hide#latitude= business[0].latitude
  .row
    .col-lg-12
      h1.page-header= business[0].name
  .row
    .col-lg-8.col-md-12
      .row
        .col-lg-6.col-md-6
          .panel.panel-yellow
            .panel-heading
              .row
                .col-xs-3
                  i.fa.fa-shopping-cart.fa-5x
                .col-xs-9.text-right
                  .huge= business[0].city
                  div City
            a(href='http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/pages/index.html#')
              .panel-footer
                span.pull-left View Details
                span.pull-right
                  i.fa.fa-arrow-circle-right
                .clearfix
        .col-lg-6.col-md-6
          .panel.panel-primary
            .panel-heading
              .row
                .col-xs-3
                  i.fa.fa-comments.fa-5x
                .col-xs-9.text-right
                  .huge= business[0].review_count
                  div Total Reviews
            a(href='http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/pages/index.html#')
              .panel-footer
                span.pull-left View Details
                span.pull-right
                  i.fa.fa-arrow-circle-right
                .clearfix
      .row
        .col-lg-6.col-md-6
          .panel.panel-red
            .panel-heading
              .row
                .col-xs-3
                  i.fa.fa-support.fa-5x
                .col-xs-9.text-right
                  .huge= business[0].state
                  div State
            a(href='http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/pages/index.html#')
              .panel-footer
                span.pull-left View Details
                span.pull-right
                  i.fa.fa-arrow-circle-right
                .clearfix
        .col-lg-6.col-md-6
          .panel.panel-green
            .panel-heading
              .row
                .col-xs-3
                  i.fa.fa-tasks.fa-5x
                .col-xs-9.text-right
                  .huge= business[0].avg_stars
                  div Average Stars
            a(href='http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/pages/index.html#')
              .panel-footer
                span.pull-left View Details
                span.pull-right
                  i.fa.fa-arrow-circle-right
                .clearfix
    .col-lg-4.col-md-12
      .panel.panel-default
        .panel-heading
          i.fa.fa-clock-o.fa-fw
          |  See What Others Describe it
        .panel-body
          canvas#wordle_canvas.canvas
  hr
  .row
    .col-lg-4.col-md-12
      .panel.panel-default
        .panel-heading
          i.fa.fa-clock-o.fa-fw
          |  Routes
        .panel-body#route_div
    .col-lg-4.col-md-12
      .panel.panel-default
        .panel-heading
          i.fa.fa-clock-o.fa-fw
          |  How to Get There
        .panel-body#map_canvas
    .col-lg-4.col-md-12
      .panel.panel-default
        .panel-heading
          i.fa.fa-clock-o.fa-fw
          |  StreetView
        .panel-body#street_view
  hr
  .panel.panel-default
    .panel-heading
      i.fa.fa-clock-o.fa-fw
      |  Latest Reviews
    .panel-body
      ul.timeline
        each review, index in reviews
          if (index % 2 == 0)
            li.timeline-inverted
              .timeline-badge(class="#{index % 4 == 0 ? 'danger' : 'info'}")
                i.fa.fa-check
              .timeline-panel
                .timeline-heading
                  h3.timeline-title= review.fb_name
                  p
                    small.text-muted
                      i.fa.fa-clock-o= review.date
                .timeline-body
                  p= review.text
          else
            li
              .timeline-badge(class="#{index % 3 == 0 ? 'warn' : 'success'}")
                i.fa.fa-credit-card
              .timeline-panel
                .timeline-heading
                  h3.timeline-title= review.fb_name
                  p
                    small.text-muted
                      i.fa.fa-clock-o= review.date
                .timeline-body
                  p= review.text
    // /.panel-footer
      //li
        //  .timeline-badge
        //    i.fa.fa-check
        //  .timeline-panel
        //    .timeline-heading
        //      h4.timeline-title Lorem ipsum dolor
        //      p
        //        small.text-muted
        //          i.fa.fa-clock-o
        //          |  11 hours ago via Twitter
        //    .timeline-body
        //      p
        //        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.
        //li.timeline-inverted
        //  .timeline-badge.warning
        //    i.fa.fa-credit-card
        //  .timeline-panel
        //    .timeline-heading
        //      h4.timeline-title Lorem ipsum dolor
        //    .timeline-body
        //      p
        //        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem quibusdam, tenetur commodi provident cumque magni voluptatem libero, quis rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia repellendus.
        //      p
        //        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores odit qui est tempora eos, nostrum provident explicabo dignissimos debitis vel! Adipisci eius voluptates, ad aut recusandae minus eaque facere.
        //li
        //  .timeline-badge.danger
        //    i.fa.fa-bomb
        //  .timeline-panel
        //    .timeline-heading
        //      h4.timeline-title Lorem ipsum dolor
        //    .timeline-body
        //      p
        //        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam facilis enim eaque, tenetur nam id qui vel velit similique nihil iure molestias aliquam, voluptatem totam quaerat, magni commodi quisquam.
        //li.timeline-inverted
        //  .timeline-panel
        //    .timeline-heading
        //      h4.timeline-title Lorem ipsum dolor
        //    .timeline-body
        //      p
        //        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!
        //li
        //  .timeline-badge.info
        //    i.fa.fa-save
        //  .timeline-panel
        //    .timeline-heading
        //      h4.timeline-title Lorem ipsum dolor
        //    .timeline-body
        //      p
        //        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.
        //      hr
        //      .btn-group
        //        button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
        //          i.fa.fa-gear
        //          span.caret
        //        ul.dropdown-menu(role='menu')
        //          li
        //            a(href='http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/pages/index.html#') Action
        //          li
        //            a(href='http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/pages/index.html#') Another action
        //          li
        //            a(href='http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/pages/index.html#') Something else here
        //          li.divider
        //          li
        //            a(href='http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/pages/index.html#') Separated link
        //li
        //  .timeline-panel
        //    .timeline-heading
        //      h4.timeline-title Lorem ipsum dolor
        //    .timeline-body
        //      p
        //        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.
        //li.timeline-inverted
        //  .timeline-badge.success
        //    i.fa.fa-graduation-cap
        //  .timeline-panel
        //    .timeline-heading
        //      h4.timeline-title Lorem ipsum dolor
        //    .timeline-body
        //      p
        //        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore officia voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque eaque.

  script.
    var wordle_canvas = document.getElementById('wordle_canvas')
    wordle_canvas.width = 320
    wordle_canvas.height = 225
    words = []
    $(".hidden_word").each(function () {
      var tokens = $(this).text().split(" ")
      words.push([tokens[0], parseInt(tokens[1])])
    });
    words.push(['amazing', 0.8], ['awesome', 0.8], ['fantastic', 0.8], ['wonderful', 0.8], ['nice', 0.8], ['gorgeous', 0.8], ['good', 0.8], ['worthy', 0.8], ['best', 0.8], ['pretty', 0.8], ['I love it.', 0.8])
    WordCloud(wordle_canvas, {list: words, fontWeight: 600, weightFactor: 20})

    var stepDisplay;
    var directionsService = new google.maps.DirectionsService()
    var map
    var markerArray = []

    function RadiusToZoom(radius) {
      if (radius < 1) return 12;
      return Math.round(14 - Math.log(radius) / Math.LN2);
    }

    function attachInstructionText(marker, text) {
      google.maps.event.addListener(marker, 'click', function () {
        stepDisplay.setContent(text);
        stepDisplay.open(map, marker);
      });
    }

    function showSteps(directionResult) {
      var myRoute = directionResult.routes[0].legs[0];
      for (var i = 0; i < myRoute.steps.length; i++) {
        var marker = new google.maps.Marker({
          position: myRoute.steps[i].start_location,
          map: map,
          icon: 'http://library.csun.edu/images/google_maps/marker-blue.png'
        });
        attachInstructionText(marker, myRoute.steps[i].instructions);
        markerArray[i] = marker;
      }
    }

    function initialize() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {

          var lat1 = position.coords.latitude
          var lon1 = position.coords.longitude
          var lat2 = parseFloat($("#latitude").text())
          var lon2 = parseFloat($("#longitude").text())

          var curLocation = new google.maps.LatLng(lat1, lon1)
          var destlocation = new google.maps.LatLng(lat2, lon2)

          var dlon = lon2 - lon1
          var dlat = lat2 - lat1
          var a = Math.pow(Math.sin(dlat / 360 * Math.PI), 2) + Math.cos(lat1 / 180 * Math.PI) * Math.cos(lat2 / 180 * Math.PI) * Math.pow(Math.sin(dlon / 360 * Math.PI), 2)
          var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a))
          var d = 3500 * c

          var mapOptions = {
            zoom: RadiusToZoom(d),
            center: destlocation
          }
          map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions)
          var panoramaOptions = {
            position: destlocation,
            pov: {
              heading: 34,
              pitch: 10
            }
          };
          var panorama = new google.maps.StreetViewPanorama(document.getElementById('street_view'), panoramaOptions);
          map.setStreetView(panorama);
          var rendererOptions = {
            map: map
          }
          directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions)
          directionsDisplay.setPanel(document.getElementById('route_div'));
          stepDisplay = new google.maps.InfoWindow();

          var request = {
            origin: curLocation,
            destination: destlocation,
            travelMode: google.maps.TravelMode.DRIVING
          };
          directionsService.route(request, function (result, status) {
            if (status == google.maps.DirectionsStatus.OK) {
              directionsDisplay.setDirections(result)
              showSteps(result);
            } else {
            }
          })
        })
      }
    }

    initialize()


