extends layout

block content

  form(action='/business/addreview/#{business[0].business_id}', method='post')
    textarea(name="review", cols="40", rows="5")
    br
    input(type="radio", name="rating", value="1")
    | 1
    input(type="radio", name="rating", value="2")
    | 2
    input(type="radio", name="rating", value="3")
    | 3
    input(type="radio", name="rating", value="4")
    | 4
    input(type="radio", name="rating", value="5")
    | 5
    br
    input(type="submit", value="Add Review")
  form(action='/business/follow/#{business[0].business_id}', method='post')
    input(type='submit', value='follow')
  .row
    .col-lg-12
      h1.page-header= business[0].name
  .row
    .col-lg-8.col-md-12
      .row
        .col-lg-6.col-md-6
          .panel.panel-yellow
            .panel-heading
              .row
                .col-xs-3
                  i.fa.fa-shopping-cart.fa-5x
                .col-xs-9.text-right
                  .huge= business[0].city
                  div City
            a(href='http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/pages/index.html#')
              .panel-footer
                span.pull-left View Details
                span.pull-right
                  i.fa.fa-arrow-circle-right
                .clearfix
        .col-lg-6.col-md-6
          .panel.panel-primary
            .panel-heading
              .row
                .col-xs-3
                  i.fa.fa-comments.fa-5x
                .col-xs-9.text-right
                  .huge= business[0].review_count
                  div Total Reviews
            a(href='http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/pages/index.html#')
              .panel-footer
                span.pull-left View Details
                span.pull-right
                  i.fa.fa-arrow-circle-right
                .clearfix
      .row
        .col-lg-6.col-md-6
          .panel.panel-red
            .panel-heading
              .row
                .col-xs-3
                  i.fa.fa-support.fa-5x
                .col-xs-9.text-right
                  .huge= business[0].state
                  div State
            a(href='http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/pages/index.html#')
              .panel-footer
                span.pull-left View Details
                span.pull-right
                  i.fa.fa-arrow-circle-right
                .clearfix
        .col-lg-6.col-md-6
          .panel.panel-green
            .panel-heading
              .row
                .col-xs-3
                  i.fa.fa-tasks.fa-5x
                .col-xs-9.text-right
                  .huge= business[0].avg_stars
                  div Average Stars
            a(href='http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/pages/index.html#')
              .panel-footer
                span.pull-left View Details
                span.pull-right
                  i.fa.fa-arrow-circle-right
                .clearfix
    .col-lg-4.col-md-12
       .panel.panel-default
         .panel-heading
           i.fa.fa-clock-o.fa-fw
           |  See What Others Describe it
         .panel-body
           canvas#canvas.canvas
  .row
    .panel-body
  .panel.panel-default
    .panel-heading
      i.fa.fa-clock-o.fa-fw
      |  Latest Reviews
    .panel-body
      ul.timeline
        each review, index in reviews
          if (index % 2 == 0)
            li.timeline-inverted
              .timeline-badge(class="#{index % 4 == 0 ? 'danger' : 'info'}")
                i.fa.fa-check
              .timeline-panel
                .timeline-heading
                  h3.timeline-title= review.fb_name
                  p
                    small.text-muted
                      i.fa.fa-clock-o= review.date
                .timeline-body
                  p= review.text
          else
            li
              .timeline-badge(class="#{index % 3 == 0 ? 'warn' : 'success'}")
                i.fa.fa-credit-card
              .timeline-panel
                .timeline-heading
                  h3.timeline-title= review.fb_name
                  p
                    small.text-muted
                      i.fa.fa-clock-o= review.date
                .timeline-body
                  p= review.text

        //li
        //  .timeline-badge
        //    i.fa.fa-check
        //  .timeline-panel
        //    .timeline-heading
        //      h4.timeline-title Lorem ipsum dolor
        //      p
        //        small.text-muted
        //          i.fa.fa-clock-o
        //          |  11 hours ago via Twitter
        //    .timeline-body
        //      p
        //        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.
        //li.timeline-inverted
        //  .timeline-badge.warning
        //    i.fa.fa-credit-card
        //  .timeline-panel
        //    .timeline-heading
        //      h4.timeline-title Lorem ipsum dolor
        //    .timeline-body
        //      p
        //        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem quibusdam, tenetur commodi provident cumque magni voluptatem libero, quis rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia repellendus.
        //      p
        //        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores odit qui est tempora eos, nostrum provident explicabo dignissimos debitis vel! Adipisci eius voluptates, ad aut recusandae minus eaque facere.
        //li
        //  .timeline-badge.danger
        //    i.fa.fa-bomb
        //  .timeline-panel
        //    .timeline-heading
        //      h4.timeline-title Lorem ipsum dolor
        //    .timeline-body
        //      p
        //        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam facilis enim eaque, tenetur nam id qui vel velit similique nihil iure molestias aliquam, voluptatem totam quaerat, magni commodi quisquam.
        //li.timeline-inverted
        //  .timeline-panel
        //    .timeline-heading
        //      h4.timeline-title Lorem ipsum dolor
        //    .timeline-body
        //      p
        //        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!
        //li
        //  .timeline-badge.info
        //    i.fa.fa-save
        //  .timeline-panel
        //    .timeline-heading
        //      h4.timeline-title Lorem ipsum dolor
        //    .timeline-body
        //      p
        //        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.
        //      hr
        //      .btn-group
        //        button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
        //          i.fa.fa-gear
        //          span.caret
        //        ul.dropdown-menu(role='menu')
        //          li
        //            a(href='http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/pages/index.html#') Action
        //          li
        //            a(href='http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/pages/index.html#') Another action
        //          li
        //            a(href='http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/pages/index.html#') Something else here
        //          li.divider
        //          li
        //            a(href='http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/pages/index.html#') Separated link
        //li
        //  .timeline-panel
        //    .timeline-heading
        //      h4.timeline-title Lorem ipsum dolor
        //    .timeline-body
        //      p
        //        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.
        //li.timeline-inverted
        //  .timeline-badge.success
        //    i.fa.fa-graduation-cap
        //  .timeline-panel
        //    .timeline-heading
        //      h4.timeline-title Lorem ipsum dolor
        //    .timeline-body
        //      p
        //        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore officia voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque eaque.

  script.
    var canvas = document.getElementById('canvas')
    canvas.width = 300
    canvas.height = 220
    list = [['foo', 10], ['bar', 6], ['asd', 1], ['as2d', 0.5]]
    WordCloud(canvas, {list: list, fontWeight: 600, weightFactor: 10})


