extends layout
block content
  style.
    .sec {
      width: 100%;
      height: 600px;
      overflow: scroll;
    }
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          i.fa.fa-clock-o.fa-fw
          | Members
        .panel-body.sec
          table.table.table-striped.table-bordered.table-hover
            tbody
              each mem in members
                tr
                  td
                    a(href='/homepage/#{mem.user_id}') #{mem.fb_name}
    .col-md-8
      .panel.panel-default
        .panel-heading
          i.fa.fa-clock-o.fa-fw
          | News Feeds
        .panel-body.sec
          h2(style='color:red') #{msg}
          table.table.table-striped.table-bordered.table-hover
            tbody
              for post in results
                tr
                  td
                    a(href='/homepage/#{post.u_id}') #{post.fb_name}
                  td
                    p #{post.text}
                  td
                    p Posted on: #{post.date_time}
  .row(style="padding:20px")
    form.form-horizontal(enctype='multipart/form-data', action='/group/new_post/#{business_id}', method='POST')
      .form-group
        .col-md-11
          input#new_post.form-control(name='new_post', placeholder='New Post', type='textarea', rows='4', cols='50')
        .col-md-1(align='right')
          button.btn-warning.btn.btn-block(type='submit') Post
  .row
    .col-md-1.col-md-offset-11
      a(href='/business?business_id=#{b_id}')
        button.btn-default.btn.btn-block.pull-right Back
  br
  br