extends layout

block content
  style.
    .user_panel {
      width: 100%;
      height: 350px;
      overflow: scroll;
    }

    #post_panel {
      width: 100%;
      height: 300px;
      overflow: scroll;
    }

    img {
      max-width: 100%;
    }



  if !myself
    a(href='/users/friend/#{user_id}') Add Friend
  p(style='color:red') #{msg}
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          i.fa.fa-clock-o.fa-fw
          | Friend List
        .panel-body.user_panel
          table.table.table-striped.table-bordered.table-hover
            thead
              tr
                th Friend Name
            tbody
              each friend in friends
                tr
                  td
                    a(href='/homepage/#{friend.user_id}')= friend.fb_name
    .col-md-4
      .panel.panel-default
        .panel-heading
          i.fa.fa-clock-o.fa-fw
          | Businesses Followed
        .panel-body.user_panel
          table.table.table-striped.table-bordered.table-hover
            thead
              tr
                th Business Name
                th Following Time
            tbody
              each follow in follows
                tr
                  td
                    a(href='/business?business_id=#{follow.business_id}') #{follow.name}
                  td= follow.time
    .col-md-4
      .panel.panel-default
        .panel-heading
          i.fa.fa-clock-o.fa-fw
          | Interested Businesses Category
        .panel-body.user_panel
          table.table.table-striped.table-bordered.table-hover
            thead
              tr
                th Business Category
            tbody
              each category in categories
                tr
                  td
                    a #{category.category}
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          i.fa.fa-clock-o.fa-fw
          | Post List
        .panel-body
          each post in posts
            .col-lg-4.col-md-6
              .panel.panel-default#post_panel
                .panel-heading Post Time: #{post.datetime}
                .panel-body
                  if post.photo_name != 'NULL'
                    img(src='/users/images/#{post.photo_name}', alt='Photo')
                hr
                p= post.text


  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
          i.fa.fa-clock-o.fa-fw
          | Recommendation
        .panel-body