extends layout

block content
  style.
    .dropdown dd, .dropdown dt {
      }
      .dropdown ul {
      }
      .dropdown dd {
          position:relative;
      }
      .dropdown a,
      .dropdown a:visited {
      }
      .dropdown dt a {
          display:block;
          overflow: hidden;
      }
      .dropdown dt a span, .multiSel span {
          cursor:pointer;
          display:inline-block;
      }
      .dropdown dd ul {
          background-color: #fff;
          display:none;
          position:absolute;
          width:160px;
          list-style:none;
          height: 100px;
          overflow: auto;
      }
      .dropdown span.value {
          display:none;
      }
      .dropdown dd ul li a {
          padding:5px;
          display:block;
      }
      .dropdown dd ul li a:hover {
          background-color:#fff;
      }
      #post_panel {
        width: 100%;
        height: 300px;
        overflow: scroll;
      }
      img {
        max-width: 100%;
      }

  h2(style='color:red') #{message}

  br
  br
  .row
    .col-lg-12.col-md-12
      .panel.panel-default
        .panel-heading
          i.fa.fa-clock-o.fa-fw
          | New Post
        .panel-body
          form.form-horizontal(enctype='multipart/form-data', action='/users/new_post', method='POST')
            .row.form-group
              .col-lg-12.col-md-12
                textarea#new_post.form-control(name='new_post', placeholder='New Post', type='textarea', rows='5')
            .row.form-group
              .col-lg-2.col-md-2
                dl.dropdown.form-control
                  dt
                    a(href='#')
                      span.hida With Friends
                      p.multiSel
                  dd
                    .mutliSelect
                      ul
                        if friends
                          each friend in friends
                            li
                              input(name='friend', type='checkbox', value=friend.user_id)
                              =friend.fb_name
              .col-lg-2.col-md-2
                select.form-control(name='location')
                  option(value="null") With Business
                  if businesses
                    each business in businesses
                      option(value="#{business.business_id}") #{business.name}
              .col-lg-2.col-md-2
                input(type='file', name='photo', accept="image/*")
              .col-lg-4.col-md-4
              .col-lg-2.col-md-2.form-group(align='right')
                button.btn.btn-warning.btn-sm(type='submit') Post
  br
  br
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
          i.fa.fa-clock-o.fa-fw
          | Post List
        .panel-body
          for post in results
            .col-lg-4.col-md-6
              .panel.panel-default#post_panel
                .panel-heading Post Time: #{post.datetime}
                  p
                    a(href='/homepage/#{post.user_id}') user name: #{post.user_name}
                .panel-body
                  if post.photo_name != 'NULL'
                    img(src='/users/images/#{post.photo_name}', alt='Photo')
                    hr
                  p= post.text
                  if post.friend_list && post.friend_list.length > 0
                    hr
                    p With Friends:
                    for friend in post.friend_list
                      p
                        a(href='/homepage/#{friend[0]}') #{friend[1]}
                  if(post.business != null)
                    hr
                    p With Business:
                      p
                        a(href='/business?business_id=#{post.business_id}') #{post.business}



  script.
    $(".dropdown dt a").on('click', function () {
          $(".dropdown dd ul").slideToggle('fast');
      });
          $(".dropdown dd ul li a").on('click', function () {
          $(".dropdown dd ul").hide();
      });
          function getSelectedValue(id) {
           return $("#" + id).find("dt a span.value").html();
      }
          $(document).bind('click', function (e) {
          var $clicked = $(e.target);
          if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
      });
              $('.mutliSelect input[type="checkbox"]').on('click', function () {
              var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val();
              console.log(title);
              title = $(this).val() + ",";
              if ($(this).is(':checked')) {
              var html = '<span title="' + title + '">' + title + '</span>';
              $('.multiSel').append(html);
              $(".hida").hide();
          }
          else {
              $('span[title="' + title + '"]').remove();
              var ret = $(".hida");
              $('.dropdown dt a').append(ret);
              }
      });
j
