extends layout

block content
  style.
    .dropdown dd, .dropdown dt {
          margin:0px;
          padding:0px;
      }
      .dropdown ul {
          margin: -1px 0 0 0;
      }
      .dropdown dd {
          position:relative;
      }
      .dropdown a,
      .dropdown a:visited {
          color:#fff;
          text-decoration:none;
          outline:none;
          font-size: 12px;
      }
      .dropdown dt a {
          background-color:#4F6877;
          display:block;
          padding: 8px 20px 5px 10px;
          min-height: 25px;
          line-height: 24px;
          overflow: hidden;
          border:0;
          width:272px;
      }
      .dropdown dt a span, .multiSel span {
          cursor:pointer;
          display:inline-block;
          padding: 0 3px 2px 0;
      }
      .dropdown dd ul {
          background-color: #4F6877;
          border:0;
          color:#fff;
          display:none;
          left:0px;
          padding: 2px 15px 2px 5px;
          position:absolute;
          top:2px;
          width:280px;
          list-style:none;
          height: 100px;
          overflow: auto;
      }
      .dropdown span.value {
          display:none;
      }
      .dropdown dd ul li a {
          padding:5px;
          display:block;
      }
      .dropdown dd ul li a:hover {
          background-color:#fff;
      }
      button {
        background-color: #6BBE92;
        width: 302px;
        border: 0;
        padding: 10px 0;
        margin: 5px 0;
        text-align: center;
        color: #fff;
        font-weight: bold;
      }
  h2(style='color:red') #{message}


  form(enctype='multipart/form-data', action='/users/new_post', method='POST')
    .form-group
      .row
        .col-md-4
          input#new_post.form-control(name='new_post', placeholder='New Post', type='textarea', rows='10', cols='50')
        .col-md-4
          dl.dropdown
            dt
              a(href='#')
                span.hida With Friends
                p.multiSel
            dd
              .mutliSelect
                ul
                  if friends
                    each friend in friends
                      li
                        input(name='friend', type='checkbox', value=friend.user_id)
                        =friend.fb_name
        .col-md-4
          select(name='location')
            option(value="null")
            if businesses
              each business in businesses
                option(value="#{business.business_id}") #{business.name}
      .row
        .col-md-4
          input(type='submit', value='Post')
      .row
        .col-md-8
          input(type='file', name='photo', accept="image/*")
  h1 News Feeds From Friends
  .row
    .col-md-8
      section.content-wrapper
        .content-box
          for post in results
            .row
              .col-md-8
                p
                  a(href='/homepage/#{post.user_id}') user name: #{post.user_name}
            .row
              .col-md-8
                if (Object.keys(post.friend_list).length != 0)
                  p with friend&nbsp
                    for friend in post.friend_list
                      a(href='/homepage/#{friend[0]}') #{friend[1]}
                      &nbsp
            .row
              .col-md-8
                if(post.business != null)
                  a(href='/business?business_id=#{post.business_id}') #{post.business}
            .row
              .col-md-8
                p #{post.text}
            .row
              .col-md-8
                if post.photo_name != 'NULL'
                  img(src='/users/images/#{post.photo_name}', alt='Photo missing')
            .row
              .col-md-8
                p Posted on: #{post.datetime}


  script.
    $(".dropdown dt a").on('click', function () {
          $(".dropdown dd ul").slideToggle('fast');
      });
          $(".dropdown dd ul li a").on('click', function () {
          $(".dropdown dd ul").hide();
      });
          function getSelectedValue(id) {
           return $("#" + id).find("dt a span.value").html();
      }
          $(document).bind('click', function (e) {
          var $clicked = $(e.target);
          if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
      });
              $('.mutliSelect input[type="checkbox"]').on('click', function () {
              var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val();
              console.log(title);
              title = $(this).val() + ",";
              if ($(this).is(':checked')) {
              var html = '<span title="' + title + '">' + title + '</span>';
              $('.multiSel').append(html);
              $(".hida").hide();
          }
          else {
              $('span[title="' + title + '"]').remove();
              var ret = $(".hida");
              $('.dropdown dt a').append(ret);
              }
      });
j
